#root {
    background-color: map-get($colors, "lightCream");
}

html, body {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-weight: 700;
}

h1 {
    font-size: 56px;
    line-height: 70px;

    @media screen and (max-width: 768px) {
        font-size: 44px;
    }
}

h2 {
    font-size: 40px;
    line-height: 51px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: map-get($colors, "mediumBrown");
}