html, body {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-weight: normal;
    white-space: nowrap;
}

h1, h2, h3, p {
    margin-block: 0;
    margin-inline: 0;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figcaption {
    display: inline-block;
}