html, body, header {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
}

h1 {
    margin-block: 0;
    margin-inline: 0;
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figcaption {
    display: inline-block;
}